<!doctype html>
<html>
<head>
    <title>Plant Growth Site</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container-in-index-ejs-for-login-signup-page">

    <div class="jumbotron-text-center">
        <h1>Keep track of your watering schedule</h1>
        <img src="img/plant.jpg" alt="Smiling Plant">

        <p>Login or Signup To The Plant App:</p>

        <a href="/login" class="btn-btn-default-for-index-ejs" id="btn-login"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn-btn-default-for-index-ejs" id="btn-signup"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
